<div class="cinepolis-container">
    <h2>Calculadora de Boletos Cinepolis</h2>
    
    <form [formGroup]="form" (ngSubmit)="calcularTotalBoletos()">
      <div class="form-group">
        <label for="cantidadBoletos">Cantidad de Boletos:</label>
        <input formControlName="cantidadBoletos" type="number" id="cantidadBoletos" min="1" max="7" />
      </div>
  
      <div class="form-group">
        <label for="usaTarjetaCineco">¿Usa Tarjeta CINECO?</label>
        <input formControlName="usaTarjetaCineco" type="checkbox" id="usaTarjetaCineco" />
      </div>
  
      <button type="submit" [disabled]="form.invalid">Calcular</button>
    </form>
  
    <div *ngIf="totalPagar">
      <p>Total a pagar: {{ totalPagar | currency:'USD':true }}</p>
    </div>
  </div>
  