<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Numero 1</label>
      <input type="email" class="form-control" [(ngModel)]="num1" name="num1" aria-describedby="emailHelp" placeholder="Ingresa numero 1">
      <small id="name" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Numero 2</label>
        <input type="email" class="form-control" [(ngModel)]="num2" name="num2" aria-describedby="emailHelp" placeholder="Ingresa numero 2">
        <small id="name" class="form-text text-muted"></small>
      </div>
    <button (click)="sumar()" type="submit" class="btn btn-primary">Dale</button>
  </form>

<div class="col-6">
  <div>
    <h2>resultado es: {{resultado}}</h2>
  </div>
</div>

